go 1.26.5

use (
	./services/cart
	./services/orders
	./services/payment
	./services/products
	./services/users
	./services/web
	./shared/auth
	./shared/err/dberr
	./shared/err/grpcerr
	./shared/messaging
	./shared/observe/log
	./shared/observe/metric
	./shared/observe/trace
	./shared/proto
	./shared/runtime
	./shared/testutil/kafka
	./shared/testutil/postgres
	./shared/testutil/redis
	./tools/payment-gateway-simulator
)

replace (
	github.com/phuchoang2603/refurbished-marketplace/shared/auth v0.0.0 => ./shared/auth
	github.com/phuchoang2603/refurbished-marketplace/shared/err/dberr v0.0.0 => ./shared/err/dberr
	github.com/phuchoang2603/refurbished-marketplace/shared/err/grpcerr v0.0.0 => ./shared/err/grpcerr
	github.com/phuchoang2603/refurbished-marketplace/shared/messaging v0.0.0 => ./shared/messaging
	github.com/phuchoang2603/refurbished-marketplace/shared/observe/log v0.0.0 => ./shared/observe/log
	github.com/phuchoang2603/refurbished-marketplace/shared/observe/metric v0.0.0 => ./shared/observe/metric
	github.com/phuchoang2603/refurbished-marketplace/shared/observe/trace v0.0.0 => ./shared/observe/trace
	github.com/phuchoang2603/refurbished-marketplace/shared/proto v0.0.0 => ./shared/proto
	github.com/phuchoang2603/refurbished-marketplace/shared/runtime v0.0.0 => ./shared/runtime
	github.com/phuchoang2603/refurbished-marketplace/shared/testutil/kafka v0.0.0 => ./shared/testutil/kafka
	github.com/phuchoang2603/refurbished-marketplace/shared/testutil/postgres v0.0.0 => ./shared/testutil/postgres
	github.com/phuchoang2603/refurbished-marketplace/shared/testutil/redis v0.0.0 => ./shared/testutil/redis
)
